.banner{
	margin: 0 auto;
	background-image: linear-gradient(-255deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%), url(../../Images/banner-background.jpg);
	background-size: cover;
	background-position: center;
	padding: 150px;
}

.banner ul{
	text-align: center;
	margin-bottom: 100px;
}

.banner h1{
	font-size: 50px;
	letter-spacing: 10%;
	color: white;
	font-weight: bolder;
}

.banner h2{
	margin-bottom: 75px;
	color: rgba(255, 255, 255, 0.8);
}

.banner h3{
	text-align: center;
	font-weight: bold;
	margin-bottom: 50px;
	color: white;
}

.btn-register{
	text-decoration: none;
	color: black;
	font-family: 'Rubik', sans-serif;
	font-weight: 0, 400;
	margin-top: 50px;
	margin-left: 50px;
	background-color: #DAC0A3;
	padding: 20px 20px;
	border-radius: 10px;
	text-align: center;
	margin-left: : 900px;
}

.btn-register:hover{
	color: white;
	background-color: #6C3428;
}