

.list-inline li{
	display: inline;
	list-style: none;
	padding: 20px;
	margin-top: 50px;
	text-decoration: none;
}

.btn-brown{
	
	background-color: #6C3428;
	border-radius: 10px;
	margin-top: 50px;
	margin-left: 50px;
}

.btn-brown:hover {
	background-color: #DAC0A3;
	color: white;
}

.linktext-white{
	color: white;
	font-family: 'Rubik', sans-serif;
	font-weight: 0, 400;
}

.linktext-white:hover{
	color: black;
	font-family: 'Rubik', sans-serif;
	font-weight: 1, 400;
}
